@import "tailwindcss";

@theme {
  --color-dark: #0F172A;
  --color-dark-light: #1E293B;
  --color-primary: #2563EB;
  --color-accent: #38BDF8;
  --color-light: #F8FAFC;

  --font-sans: "Inter", "Manrope", sans-serif;

  --color-background: var(--color-dark);
  --color-foreground: var(--color-light);
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-sans);
}

